{% extends 'base.html' %}

{% block content %}
    {% if user.is_authenticated %}
        <p>Hi {{user.username }}!<a href="{% url 'logout' %}">logout</a></p>
        {% for character in role %}
            {% if character == 'instructor' %}
                <a href="{% url 'course_list' id=user.id %}">course list</a>
            {% elif character == 'TA' %}
                <a href="{% url 'select_course_list' %}">select course</a>
                <a href="">upload cv</a>
            {% elif character == 'departmenthead' %}
                <a href="">TA request list</a>
                <a href="">confirm TA position allocation</a>
            {% endif %}
        {% endfor %}
    {% else %}
        <p>please login the system</p>
        <a href="{% url 'login' %}">login</a>
    {% endif %}
{% endblock %}