{% extends 'base.html' %}

{% block content %}
    <h1>rank TA</h1>
    <table border="2" bordercolor="black" width="500" height="100" cellspacing="0" cellpadding="5">
        <tr>
            <th>selection</th>
            <th>student name</th>
            <th>e-mail</th>
            <th>CV</th>
            <th>ranking</th>
        </tr>
        {% for ta in tas %}
        <tr>
            <td><label><input type="checkbox"  value="{{ ta.id }}"></label></td>
            <td>{{ ta.user.first_name }}&nbsp;{{ ta.user.last_name }}</td>
            <td>{{ ta.user.email }}</td>
            <td><a href="{{ ta.cv.url }}">view cv</a></td>
            <td></td>
        </tr>
        {% endfor %}
    </table>
    <script type="text/javascript">

    </script>
{% endblock %}