{% extends 'base.html' %}
{% block content %}
    <form method="post" action="{% url 'select_semester' %}">{% csrf_token %}
        <p><label>please select the semester</label></p>
        <select name="semester">
            <option value="">---semester---</option>
            <option value="201901">Fall 2019</option>
            <option value="201902">winter 2020</option>
            <option value="201903">spring 2020</option>
        </select>
        <p>
            <button type="submit">submit</button>
        </p>
    </form>
{% endblock %}