{% extends 'base.html' %}

{% block content %}
    <h1>select TA for course</h1>
    <form method="get" action="{% url "ta_list" id=course_id %}">{% csrf_token %}
        <label><input type="search" id="search-text" name="ta_contains" placeholder="TA..." width="400"></label>
        <button type="submit">search</button>
    </form>
    <form name="ta" action="{% url "rank_ta" id=course_id %}" method="post">{% csrf_token %}
        <table border="0" width="1000">
            <tr>
                <td width="40%">
                    <label><select style="width:100%" multiple name="list1" size="12" onclick="showCV(document.ta.list1)">
                        {% for ta in tas %}
                            <option value="{{ ta.id }}" id="{{ ta.cv.url }}">{{ ta.user.first_name }}&nbsp;{{ ta.user.last_name }}&nbsp;{{ ta.user.email }}</option>
                        {% endfor %}
                    </select></label>
                </td>
                <td width="20%" align="center">
                    <input type="button" value="right"
                           onclick="moveOption(document.ta.list1, document.ta.list2)"><br><br>
                    <input type="button" value="left" onclick="moveOption(document.ta.list2, document.ta.list1)">
                </td>
                <td width="40%">
                    <label><select style="width:100%" multiple name="list2" size="12"
                                   ondblclick="moveOption(document.ta.list2, document.ta.list1)"></select></label>
                </td>
                <td>
                    <button type="button" onclick="changepos(list2,-1)">up</button>
                    <br><br>
                    <button type="button" onclick="changepos(list2,1)">down</button>
                </td>
            </tr>
        </table>
        <p><label><input type="text" name="ranking" size="40" hidden></label></p>
        <p>
            <button type="submit">submit</button>
        </p>
    </form>
    <pre id="link"></pre>
{% endblock %}







